
{% block content %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <button type="submit">Login</button>
</form>

<div class="flexbox-item flexbox-item-5"><a href="{% url 'recipes:registration' %}">Need to register?</a></div>


<div><a href="{% url 'recipes:base' %}">base</a></div>
{% endblock %}