
<!DOCTYPE html>

<html>

<head>

    <title>User Profile</title>

</head>

<body>

    <h1>User Profile</h1>

    <p><strong>Username:</strong> {{ user_profile.user.username }}</p>

    <p><strong>User Pic:</strong></p>

    <img src="{{ user_profile.user_pic.url }}" alt="User Profile Pic">

    <p><strong>Is Verified:</strong> {{ user_profile.is_verified }}</p>

    <h2>User's Books:</h2>

    <ul>

        {% for user_book in user_books %}

            <li>{{ user_book.title }}</li>

        {% endfor %}

        {% for user_book in user_books %}

        <li>

            <a href="{% url 'recipes:user_book_pages' user_book_id=user_book.id %}">View {{ user_book.title }} Pages</a>

        </li>

        {%endfor%}

    </ul>

</body>

</html>

