
<!DOCTYPE html>

<html>

<head>

    <title>User Profile</title>

</head>

<body>

    <h1>User Profile</h1>

    <p><strong>Username:</strong> {{ user_profile.user.username }}</p>

    <p><strong>User Pic:</strong></p>

    <img src="{{ user_profile.user_pic.url }}" alt="User Profile Pic">

    {% if user_profile.user == request.user %}

    <a href="{% url 'recipes:default_profile_images' %}">Change_Photo</a>
    {%endif%}


    <p><strong>Is Verified:</strong> {{ user_profile.is_verified }}</p>

    <h2>User's Books:</h2>

    <ul>

        {% for user_book in user_books %}

        <li>

            <a href="{% url 'recipes:user_book_pages' user_book_id=user_book.id %}">{{ user_book.title }}</a>

        </li>

        {%endfor%}

    </ul>

    
    {% if user_profile.user == request.user %}


    <h2>Create a New User Book:</h2>

    <form method="post">

        {% csrf_token %}

        {{ create_form.as_p }}

        <button type="submit" name="create_book">Create User Book</button>

    </form>


    <h2>Delete User Book:</h2>

    <form method="post">

        {% csrf_token %}

        {{ delete_form.as_p }}

        <button type="submit" name="delete_book">Delete User Book</button>

    </form>

{% endif %}

    <a href="{% url 'recipes:base' %}">Go Home</a>
</body>

</html>

